databases:
  - name: caec-db
    databaseName: caec
    user: caec

services:
  - type: web
    name: caec-app
    runtime: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: FLASK_ENV
        value: production
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: caec-db
          property: connectionString
    autoDeploy: true
